<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gigme.uta.com.gigme" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login_Page"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".events"
            android:label="@string/title_activity_events"
            android:parentActivityName=".Login_Page" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gigme.uta.com.gigme.Login_Page" />
        </activity>
        <activity
            android:name=".Events"
            android:label="@string/title_activity_events"
            android:parentActivityName=".Login_Page" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gigme.uta.com.gigme.Login_Page" />
        </activity>
        <activity
            android:name=".EventDetails"
            android:label="@string/title_activity_event_details"
            android:parentActivityName=".Events" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gigme.uta.com.gigme.Events" />
        </activity>
        <activity
            android:name=".HostanEvent"
            android:label="@string/title_activity_hostan_event"
            android:parentActivityName=".Events" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gigme.uta.com.gigme.Events" />
        </activity>
        <activity
            android:name=".MyGigs"
            android:label="@string/title_activity_my_gigs"
            android:parentActivityName=".Events" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gigme.uta.com.gigme.Events" />
        </activity>
    </application>

</manifest>
